:host {
  border-right: var(--light-color);
  display: block;
  border-right: 1px solid var(--light-color)
}

.chats-filter-input__wrapper {
  padding: 16px 20px;
  border-bottom: 1px solid var(--light-color);
}

.btn-message {
  &.active,
  &:hover {
    border: 5px solid var(--primary-color);
    background: var(--dark-hover-color);
    color: var(--primary-color);
  }
}
